main {
    flex: 1;
    padding: 40px;

}

body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    flex: 1;
}

#about {
    text-align: center;
}



section {
    text-align: center;

}